<div class="footer-wrapper">
<ul class="footer-links">
  <li><a href="#">Employment</a></li>
  <li><a href="">About Us</a></li>
  <li><a href="">Contact Us</a></li>
</ul>
	<p class="copy">Copyright © Austin Sports Arena. All rights reserved.</p>
</div>