<header class="header-wrapper hidden-xs hidden-sm" >
 <div class="header-inner" id="header">
  <div class="top-nav clearfix">
      <div class="social-links fleft navigation">
        <ul>
          <li><a href="/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        </ul>      
      </div>
      <div class="top-right fright navigation">
        <div class="phone-number">
          <h2>Call:<span>512-251-7500</span></h2>
        </div>
     </div>
  </div>
   <div class="left-nav navigation main-nav inline">
     <ul>
       <li><a href="">Home</a></li>
       <li><a href="">Birthday Parties</a></li>
       <li><a href="">Inline Hockey</a></li>
       
     </ul>
   </div>
   <div class="logo inline">
      <div class="logo-wrap">
        <img src="/static/img/white-logo.svg" alt="">
      </div>
     <h1>Austin Sports Arena</h1>
      <div class="drs-link">
       <a href="#">Daily Rink Schedule</a>
      </div>     
   </div>
   <div class="right-nav navigation main-nav inline">
     <ul>
        <li><a href="">Camps</a></li>
       <li><a href="">Derby</a></li>
       <li><a href="/contact.html">About Us</a></li>
       <li><a href="">Contact Us</a></li>
     </ul>
   </div>
 </div>
</header>